body { 
    margin: 0;
    padding: 0;
}
    .divA {
        background-color: #ff7f00;
        width: 500px;
        height: 500px;
    }
        .divB {
            background-color: #90ee90;
            width: 50%;
            height: 50%;
        }
            .divC {
                color: white;
                background-color: red;
                font-size: 25px;
                font-family:
                    monospace;
                font-weight: bold;
            }
        
    .divD {
        background-color: rgb(50, 153, 204);
        width: 50%;
        height: 50vh;
    }
        .divE {
            background-color: rgb(255, 0, 0);
            width: 75vw;
            height: 50%;

        }